/* we want the question to be hidden as default */
span {
  display: none
}

/* we do not want to show the checkbox at all */
input {
  display: none
}

/* when the label is clicked, it checks the checkbox, and then we can target the span */
input:checked ~ span {
  display: block;
}

